# --- System & IDE ---
.DS_Store
.vscode/
.idea/

# --- Python Global Ignores (Applies to all subfolders) ---
__pycache__/
*.pyc
*.pyo
venv/
.env

# --- Specific Files ---
backend/finance.db

# --- Node / Frontend ---
node_modules/
frontend/build/

# --- CSV Imports ---
csv_imports/*
!csv_imports/.gitkeep